[2021-09-07 03:51] ganeshrn opened #9 "Add Github actions to automate the release process on npm"
### Problem

Currently the release on npm is done manually

### Solution

Add Github actions to automate the release process on npm

### Alternatives

_No response_

### Additional context

https://www.npmjs.com/package/ansible-language-server

[2021-09-07 16:45] webknjaz commented on #9
I could look into this.

[2021-09-07 18:27] webknjaz commented on #9
The token to use in CI is `${{ secrets.NPM_TOKEN }}`. It is only available in the `publishing` environment. The other token would be `${{ secrets.GITHUB_TOKEN }}`, to be used for GitHub Packages.

[2021-09-07 18:30] webknjaz commented on #9
Now that we have access to the namespace, we also need to decide on the naming: `@ansible/language-server` vs `@ansible/ansible-language-server`.

[2021-09-09 08:37] ganeshrn opened #13 "Add support to run ansible-vault command to encrypt/decrypt"
### Problem

Currently, the feature is implemented at the client (extension) side https://github.com/ansible/vscode-ansible/pull/177
which restrict it's usage to only vscode.

### Solution

Explore the possibility of supporting ansible-vault functionality in the language server by registering custom commands

### Alternatives

_No response_

### Additional context

_No response_

[2021-09-09 11:23] priyamsahoo opened #14 "Add support to create config variables to avoid hard-coded strings"
Supporting config variable is out of the scope as of now. It can be viewed as a separate task and I am going to look into it.

_Originally posted by @priyamsahoo in https://github.com/ansible/ansible-language-server/pull/5#r705234335_

[2021-09-09 12:02] ssbarnea opened #15 "Messages originated from ASL should use language-server-protocol: notificationMessage"
After investigation made with @webknjaz yesterday, we concluded that use of `showInformationMessage()` or `showErrorMessage()` inside the language server is wrong as this would prevent use of the language-server on other editors than vscode.

Apparently language-server-protocol has an api that can be used for this use case: https://microsoft.github.io/language-server-protocol/specifications/specif

[2021-09-09 13:10] priyamsahoo opened #16 "Refactor overly huge try-catch blocks in the code base"
### Summary

There are some cases that use try-catch blocks on multiple unrelated lines. This is dangerous because it may cause unforeseen behaviors.

Example:
https://github.com/ansible/ansible-language-server/blob/cdc25dd/src/services/ansibleLint.ts#L90-L120

### Extension version

main branch

### VS Code version

n/a

### Ansible Version

[code]

### OS / Environment

n/a

### Relevant log out

[2021-09-09 15:09] webknjaz commented on #14
It looks like this would need client-side support. It should probably send options as in this example: https://github.com/redhat-developer/vscode-java/blob/af081b9/src/standardLanguageClient.ts#L70-L92.

[2021-09-09 15:11] webknjaz commented on #14
Our extensions sets those here: https://github.com/ansible/vscode-ansible/blob/5ef7df7/src/extension.ts#L29-L48.

[2021-09-15 16:56] priyamsahoo commented on #14
The language server has them [here](https://github.com/ansible/ansible-language-server/blob/5fe20f9/src/services/settingsManager.ts#L15-L20) in this file.

[2021-09-16 03:55] yaegassy opened #21 "Command failed error appears when running ansible-lint"
### Problem

If there are syntax errors problems, you will get a very unimpressive error message.

<img width="1024" alt="2_vscode-ansible-error" src="https://user-images.githubusercontent.com/188642/133185473-1d08321c-570f-4c6c-9aef-2f01bdbf9370.png">

Is it possible for the language server to handle it properly and put it in the diagnostics message?

### Solution

Please add some adjusting here

[2021-09-16 05:34] priyamsahoo commented on #21
Hey, thanks for this. The code base is currently going through a major refactoring effort. We don't expect this to be an issue when that work is done. This will remain open until sometime after the new version is released. Please check back in the next month or so.

There's a high chance that this will get fixed after https://github.com/ansible/ansible-language-server/pull/5 is merged!

[2021-09-16 05:39] priyamsahoo commented on #21
Also, based on the output, I believe that ansible-lint is either not installed in the env. or not configured properly.

**For a quick fix, try setting disabling the lint in the settings.json as see if the error shows up or not.**

Nonetheless, it will be fixed in the #5 is merged!

[2021-09-16 06:01] priyamsahoo commented on #21
Also, about the solution:

- We have decided to remove all messages (window pop-ups for vscode) originated from the language server. This way, we can keep the ASL agnostic and thus it can be used by ansible extension for any text editor/IDE.

- An issue regarding the same has already been filed: #15

[2021-09-16 06:03] yaegassy commented on #21
@priyamsahoo Thanks for the info!!!

I understood that there is already a similar issue.

My extension (`coc-ansible`) for Vim is tuned to automatically set `ansible.ansibleLint.enabled` to `false` if `ansible-lint` is not detected in the current Python environment (including virtual environments).

[2021-09-16 06:30] yaegassy commented on #21
This issue is closed because there is a similar issue and it looks like it will be adjusted in the future.

[2021-09-16 06:30] #21 closed

[2021-09-16 16:11] ssbarnea opened #26 "Fix broken windows platform broken tests"
As part of adding CI pipelines via #17 I identified that running tests under windows does not work. This should be a top priority to fix.

[2021-09-16 19:54] webknjaz opened #28 "[Discussion] Consider disallowing upstream feature branches"
In order to improve the overall developer experience and reduce clutter with the reported GHA Checks in PRs, we need to talk about requiring everyone to send PRs from forks rather than upstream branches.

_Originally posted by @webknjaz in https://github.com/ansible/ansible-language-server/pull/17#discussion_r710260127_

[2021-09-16 19:56] #28 closed

[2021-09-25 15:06] tomaciazek opened #39 "Document fragments not discovered for some modules"
### Summary

Some modules utilize non-default documentation fragment properties (mentioned [here](https://docs.ansible.com/ansible/devel//dev_guide/developing_modules_documenting.html#documentation-fragments)), or explicitly refer to the `DOCUMENTATION` property. In those cases, the extension does not read those properties and the information contained in them is missing from the recognized option

[2021-09-27 12:33] twouters opened #43 "Could not parse ansible-lint output when parseable output mode enabled"
### Summary

When parseable mode is enabled for ansible-lint (`parseable: true` in `.ansible-lint`) the plugin is unable to parse ansible-lint's output.

~~I'm not sure if this is an issue of this plugin, or ansible-language-server.~~

[code]

output (`:CocCommand workspace.showOutput`) when parseable is enabled:

[code]

output when parseable is disabled:

[code]

ansible-lint's output when parse

[2021-09-29 17:12] ssbarnea commented on #43
@twouters Can you please test with latest extension 0.4.5? I do not even remember the version that you reported in original bug.

[2021-09-29 23:33] twouters commented on #43
I've probably missed something, but I've mentioned the version that's included in package.json in this repo: https://github.com/ansible/ansible-language-server/blob/71d759ddc976b45fbd9f47ed9eff3065a47bdf20/package.json#L7

[2021-09-30 00:40] yaegassy commented on #43
@ssbarnea @twouters Hi,

Currently, the version of `ansible-language-server` used by `coc-ansible` is `v0.1.1-0`.

This problem was reproduced in `vscode-ansible` (v0.4.5), of course.

<img width="1085" alt="ansible-language-server-issue43-1" src="https://user-images.githubusercontent.com/188642/135367123-41aee5db-c955-4ea3-9ea6-048d3714be31.png">

[2021-09-30 01:14] yaegassy commented on #43
@ssbarnea

Probably, `JSON.parse` failed in this part. <https://github.com/ansible/ansible-language-server/blob/main/src/services/ansibleLint.ts#L167>

And I think this message is being output on the catch side. <https://github.com/ansible/ansible-language-server/blob/main/src/services/ansibleLint.ts#L236-L239>

I think it needs to be adjusted in `ansible-language-server`.

[2021-09-30 09:12] priyamsahoo opened #48 "Refactor utils/misc.ts into smaller and more informative utilities"
Per https://github.com/ansible/ansible-language-server/pull/5#discussion_r708192985, I don't think it belongs in misc. I'd rather use something distinct, like `osUtils`, or `sysUtils`, or `pathUtils`, or `execUtils`. But `misc`? What does it even mean? I've seen linters forbidding pointless package/module names in the past (like utils, or helpers, or functions, or stuff — it's all the same). I fee

[2021-09-30 14:12] webknjaz commented on #26
Per the discussion between Ganesh and I on Slack, we should update the Windows jobs to run WSL2 instead of (or additionally to) the native runtime.

[2021-09-30 15:54] ssbarnea commented on #43
The bug is not inside the extension, I can confirm that the bug is inside ansible-lint. When parseable is configured to true in config file, it no longer matters what format is requested from the command line.

I am trying now to propose a fix for it.

[2021-10-01 07:57] yaegassy commented on #43
@ssbarnea I understand about adjusting it on the `ansible-lint` side.

However, in versions of ansible-lint prior to `v5.1.3`, this error will continue to occur.

It might be helpful to add error handling for `json.parse`.

[2021-10-01 09:48] ssbarnea commented on #43
True. In fact there is some error handling there but apparently it does not work as intended. Were you able to see the exact output from ansible-lint in the console log when the error occurred? Ideally we should also be able to check version of ansible-lint installed and require an upgrade if is below what we consider ok. A pull request would be appreciated here.

[2021-10-01 09:55] #43 closed

[2021-10-05 02:45] ganeshrn opened #52 "Improve test coverage for both unit and integration test"
### Problem

Currently unit and integration test coverage is not that great

### Solution

Add test cases and improve coverage

### Alternatives

_No response_

### Additional context

_No response_

[2021-10-08 07:31] ganeshrn opened #58 "Refactor ansibleLint service to raise an exception in case of error"
### Summary

Based on comment here https://github.com/ansible/ansible-language-server/pull/5/files#r724559886

The ansibleLint service can be refactored to raise and exception which can be caught in `validationProvider` to take appropriate actions

### Extension version

main branch

### VS Code version

main branch

### Ansible Version

[code]

### OS / Environment

macos

### Relevant log output

[2021-10-12 14:56] priyamsahoo opened #62 "Provide config option to set priority for suggestion filtration in module auto-completion"
### Problem

The auto-completion that the language-server provides (in the case when `useFQCN` is set to `true`) is not configurable at this moment.

### Solution

Based of users' personal preference, the user should have an option to prioritize the basis of filtration of the suggested module FQCNs in auto-completion.

The priority to set the ordering can be on:
1. module name
2. collection name
3

[2021-10-13 09:56] jcgruenhage opened #64 "Straighten out version numbering and make a new release"
### Problem

There's 0.1.0, 0.1.0-1 and 0.1.1-0 available on npm, 1.0.0, 1.0.1 and 1.0.2 in git, and both of those haven't seen an update in a while. The tags in git and versions on npm should be easy to match up.

### Solution

- Make a new release, ideally with a clear versioning policy
- Yank the old versions from git and npm

### Alternatives

_No response_

### Additional context

I'm current

[2021-10-13 11:47] jcgruenhage commented on #64
Yep, that sounds good. Thanks for your work on this!

[2021-10-14 11:58] jcgruenhage commented on #64
Great, I've updated void-linux/void-packages#33519 to the 0.2.0-beta release, and hope it'll get merged soon after the proper 0.2.0 release. Thanks!

[2021-10-18 16:32] webknjaz commented on #64
I think we'll have a v0.2.3 release today/tomorrow as this PR https://github.com/ansible/ansible-language-server/pull/80 gets merged.

[2021-10-19 07:16] priyamsahoo opened #81 "The service `ansible-playbook --syntax-check` does not check file before execution"
### Summary

The `ansible-playbook` service does not check the file (whether it is a playbook of a task file) before execution.

For e.g., it runs on the task files and complains about missing hosts in it.

### Extension version

main branch

### VS Code version

n/a

### Ansible Version

[code]

### OS / Environment

Fedora 34

### Relevant log output

_No response_

[2021-10-19 15:05] #64 closed, assigned to webknjaz

[2021-10-19 15:10] jcgruenhage commented on #64
My last question was not meant to be regarding how many prereleases should be done and what kind of prereleases they are supposed to be, just how the prereleases are named.

What you are doing is changing the version number on each prerelease and on the final release, what others are doing usually (at least as far as I've seen) is keeping the version number the same and just changing the prereleas

[2021-10-22 09:38] #81 closed, assigned to priyamsahoo

[2021-10-29 13:41] cidrblock opened #99 "Hard coded `docker` in `cp` command"
https://github.com/ansible/ansible-language-server/blob/71fa140cf9194e6ebaaae72c29652e65ac8c3d3c/src/services/executionEnvironment.ts#L309

[2021-10-29 13:45] cidrblock opened #100 "vscode plugin and LS have different min version for NPM and node"
https://github.com/ansible/ansible-language-server/blob/0d043fd8719179266813f67ed583337eb6063035/package.json#L27

[2021-10-29 17:02] termlen0 opened #101 "Emacs lsp-mode integration"
### Problem

The lsp-mode in emacs makes it possible for emacs users to take advantage of the language servers and there are currently many existing ones. https://emacs-lsp.github.io/lsp-mode/page/languages/ (YAML/Python and even terraform) :)
Adding support for emacs will help a large user base to take advantage of the work done here without having to switch to another editor.

### Solution

Inte

[2021-11-01 14:41] webknjaz commented on #100
Closing per above.

[2021-11-01 16:40] webknjaz commented on #101
Hi, this repository is dedicated to the language server part that is universal. You seem to be requesting some client-side integration which is out of the scope here. We have a separate repository for the VS Code client extension and we also know about an external community project implementing it for Vim: https://github.com/yaegassy/coc-ansible.

We don't intentionally limit editor support and th

[2021-11-01 16:40] #101 closed

[2021-11-08 03:42] ganeshrn commented on #100
@ssbarnea It is extremely annoying to set up dev environment on OS that doesn't have ` "node": ">=12.0", ` especially if the extension is working with the vscode version installed on the OS. It is an unnecessary overhead to mandate users to install a different node version than what vscode is using.

[2021-11-08 05:30] #99 closed

[2021-11-08 07:40] ganeshrn commented on #100
Couldn't find a minimum version of npm for typescript language server implementation from this list https://microsoft.github.io/language-server-protocol/implementors/servers/

[2021-11-08 13:14] webknjaz commented on #100
@ganeshrn it's not for users but for the devs. Users use the NodeJS version that is vendored within a specific version of VS Code.

[2021-11-08 13:32] priyamsahoo commented on #15
@yaegassy, does this issue affect your dev for the vim extension ?

[2021-11-08 13:34] #14 closed

[2021-11-08 15:30] ganeshrn commented on #100
@webknjaz Yes I am talking about devs itself. I don’t see a reason to enforce different node/npm version mandates which are different from vscode itself running on the system.

[2021-11-08 15:36] webknjaz commented on #100
It's never the same nodejs instance that VS Code ships. And different VS Code versions may ship different Node JS inside. But there's no VS Code using NodeJS older than v12. This is why we have a matrix of supported versions.

As for Npm, it's absolutely unrelated to VS Code (as in, not related in any way imaginable). v7 was necessary for the lockfile consistency IIRC so that we avoid conflicts wh

[2021-11-08 15:37] webknjaz commented on #100
We've triaged this issue on the call and nobody could understand what could be annoying about a one-time setup.

[2021-11-09 04:17] priyamsahoo commented on #15
Ah alright. Thanks for the feedback @yaegassy :)

[2021-11-15 16:54] ssbarnea opened #117 "Failure to instantiate when missing a workspace"
I identified what triggers the ALS to report as being active on an open document but in fact it would not run at all, only syntax highlight seems to be working as that is a passive feature.

This happens when an ansible file is opened directly without having a workspace.

While vscode may remember to open that particular file with Ansible, it will fail to initialize the ALS when doing so, which is

[2021-11-15 17:28] ssbarnea commented on #117
To reproduce the bug in debugger just reconfigure extension to open the sample file directly instead of opening the folder:
![](https://sbarnea.com/ss/Screen-Shot-2021-11-15-17-27-23.21.png)

[2021-11-16 13:40] webknjaz commented on #117
cc @yaegassy do you have this problem with the Vim plugin?

[2021-11-16 15:58] cidrblock commented on #117
Related: https://github.com/ansible/vscode-ansible/pull/319

(needs to be removed when this issue is resolved)

[2021-11-16 16:37] webknjaz commented on #26
I've added a few `console.log()`s and noticed the difference in that the `getYamlDoc()` helper function in `test/utils/yaml.test.ts` returns a text node containing different line separators on Windows and other platforms (`\r\n` vs. `\n`).
This is created by `TextDocument.create()`[^1] provided by the `vscode-languageserver-textdocument` third-party library. I haven't yet checked what we can/shoul

[2021-11-17 04:00] yaegassy commented on #117
I don't know how to reproduce this problem with the vim plugin

Vim plugin (`coc.nvim`) automatically resolves the workspace folder equivalent, so this problem may not occur.

**See**:

- <https://github.com/neoclide/coc.nvim/wiki/Using-workspaceFolders>

[2021-11-17 13:44] ganeshrn opened #122 "Add opt-in support to read ansible-navigator configuration from configuration file path"
### Problem

Allow ansible-language-server to read ansible-navigator config file options to reduce duplicating config value setting for ansible-navigator users.

### Solution

Read execution-environment related configuration options from ansible-navigator configuration file path.
Current overlap options between client and navigator are
[code]

If navigator config file path is set by user the confi

[2021-11-17 13:57] ganeshrn opened #123 "Add support to allow auto-completion and diagnostics for playbook adjacent collections"
### Problem

Ansible plugin developers prefer to have collection adjacent to playbook while developing plugins, currently playbook adjacent collections are not supported for auto-completion and diagnostics.

### Solution

The `ansibleConfig` `collections_path` array should be updated with the workspace root folders to search playbook adjacent collections if that particular client setting is enable

[2021-11-17 14:03] ganeshrn opened #124 "Add completion and goto support for (include|import)_(role|task|playbook) for roles within available collections"
### Problem

Currenlty completion and goto feature for  (include|import)_(role|task|playbook) for roles within available collections is not supported

### Solution

Parse available collections and it's location to reach the all the roles and playbooks within collection to support completion and goto feature.

### Alternatives

_No response_

### Additional context

_No response_

[2021-11-17 14:14] ganeshrn opened #126 "Add support for connection plugin auto completion"
### Problem

Currently connection plugin autocompletion is not supported for `connection` keyword at `play/task`  level and `ansible_connection` variable.

### Solution

Will need to identify the cursor position at and if it is after `connection` keyword at `play/task`  level and `ansible_connection` variable provide completion for connection plugins.

### Alternatives

_No response_

### Addition

[2021-11-17 14:24] ssbarnea commented on #100
Closing as I think it was misunderstanding.

[2021-11-17 14:24] #100 closed

[2021-11-17 14:29] ganeshrn opened #127 "Support auto completion and hover functionality for hosts related keyword by running ansible-inventory"
### Problem

Currently host autocompletion is not supported for `hosts` keyword at play-level and `ansible_host` variable.

### Solution

Will require to implement a new `ansibleInventory` service to run `ansible-inventory` command and provide host/group values as completion if related keyword are identified for cursor position in document. The inventory file path can be retrieved from ansible con

[2021-11-17 14:40] ganeshrn opened #128 "Doc string snippets from module/plugin docs after task keyword"
### Problem

Currently snippet for module doc is not supported

### Solution

Add support for task keyword to provide module options snippet support. If user ask from auto-completion immediately after module name `ansible.butilin.debug:` in that case module snippet can be provided in autocompletion eg. https://marketplace.visualstudio.com/items?itemName=MattiasBaake.vscode-snippets-for-ansible. If

[2021-11-18 14:07] #26 closed

[2021-11-23 11:59] strayer opened #139 "Language server fails with exception when ansible.ansibleLint.arguments is not set"
### Summary

I'm using ansiblels installed via https://github.com/williamboman/nvim-lsp-installer with https://github.com/neovim/nvim-lspconfig/ in neovim 0.6 (HEAD / nightly).

When I'm opening an ansible file, linting with ansible-lint is not working. The log file (see log output below) pointed me to this code: https://github.com/ansible/ansible-language-server/blob/30a3a89/src/services/ansibleL

[2021-11-23 16:41] ssbarnea commented on #139
I think it would be up to @yaegassy to review this one.

[2021-11-24 00:42] yaegassy commented on #139
@strayer Adjust the settings on the nvim-lspconfig side. https://github.com/neovim/nvim-lspconfig/blob/master/lua/lspconfig/ansiblels.lua#L8-L24

[2021-11-24 04:19] ganeshrn commented on #117
I am not able to reproduce the issue with the steps shared above. Also as the file is opened within `workspaceFolder` the workspace context is properly set in the ansible-language-server and the autocompletion is working fine within `play1.yml` file.

<img width="1421" alt="Screen Shot 2021-11-24 at 9 47 48 AM" src="https://user-images.githubusercontent.com/5292461/143174272-3efb3c8f-8a03-430b-9f4

[2021-11-24 12:41] ssbarnea commented on #139
@strayer I made a PR that should address your problem but it would be really useful if you can describe exactly how can someone use our ALS with neovim, maybe we can add one additional GHA for testing integration with it?

[2021-11-24 12:44] #117 closed

[2021-11-24 12:59] #139 closed

[2021-11-24 12:59] strayer commented on #139
@ssbarnea Thank you! I planned on doing exactly the same change later this evening, but you beat me to it :)

In which way should I describe the setup? It is rather complicated, as pretty much every customized neovim setup, but the basics are relatively simple. This problem should happen as soon as one is using the current neovim stable release with https://github.com/neovim/nvim-lspconfig.

With

[2021-11-24 13:32] ssbarnea commented on #139
You don't need GHA knowledge, we can help he. As long you can come-up with a script or step by step guide  with few test steps, we can take care of the rest. Stuff like `install editor, install plugin, execute this command".

Yep defaults should work better but I am sure that w/o some testing we will soon find something else breaking. The only way to ensure we keep it working is to have a level of

[2021-11-24 16:43] strayer commented on #139
Github Actions wouldn't be an issue. I'm really not competent enough with lua internals of neovim to get something like this going, sorry :( As far as I can see some kind of lua script would need to launch neovim with an example ansible playbook and expect specific linter messages via internal lua LSP APIs (at least to cover this issue). In case I find the time to get into the thick of this I'll g

[2021-11-25 16:06] webknjaz opened #151 "[TODO] Implement explicit `dist-tag` management in CI/CD"
### Problem

Apparently, every `npm publish` puts a `dist-tag` on the just-published version and there's no way to disable this. It is `latest` by default. So on every release, we move the `latest` tag, regardless of whether it's stable, alpha, beta, or whatever. This may create confusion for the tooling that auto-updates the deps and users doing `npm i @ansible/ansible-language-server@latest` in

[2021-11-25 22:37] webknjaz commented on #26
I've done some research and apparently, the VMs in GHA come without WSL2 (only WSL1 is available) and even if they did, they are running in an environment w/o hypervisor enabled (which would also be required). Here are some details on the latest available Windows VM: https://github.com/actions/virtual-environments/blob/main/images/win/Windows2022-Readme.md.

[2021-11-26 09:06] ssbarnea commented on #26
Probably that is not the best place to store information about WSL testing. We need a new ticket specially for that. Maybe it would worth contacting github directly to ask about WSL1/2 testing under GHA. Somehow I have the impression that this is something Microsoft want to support...

Once I get my new laptop I will likely setup a Windows VM on it too and hopefully to spend bit more time learning

[2021-11-30 17:51] tomaciazek opened #159 "Files outside a workspace should use the first available workspace"
### Problem

With the new implementation, if a file is opened outside a root folder (workspace) a _virtual_ workspace will be created for it by taking the file's parent folder. Such workspace will (likely) not have any configuration, since it is not a root folder, and will likely not be influenced by an `ansible.cfg` if the user has one, since most Ansible files are more than one level deep in the

[2021-11-30 18:02] tomaciazek opened #160 "New and unsaved files should use the first available workspace"
### Problem

Currently, if a new (unsaved) file tab is opened only basic syntax highlighting is provided.

### Solution

If the user has at least one workspace open (and most run with just one), we could take such workspace (the first root folder) and use it as the context for the unsaved file.

### Alternatives

_No response_

### Additional context

_No response_

[2021-12-01 08:44] bluikko opened #162 ""listen" is not detected as a keyword"
### Summary

The keyword `listen` is not detected as a keyword. All other keywords seem to be detected, including `notify`.

### Extension version

0.7.1

### VS Code version

1.62.3

### Ansible Version

[code]

### OS / Environment

Windows 10 1909.

### Relevant log output

[code]

[2021-12-08 17:27] michalmiddleton opened #171 "Syntax-check fails on non-playbook yaml files"
### Sanity check

- [X] I certify that the `redhat.ansible` extension is in use and the language of the document in this bug report shows up as `Ansible`

### Summary

As of v 0.7.1, syntax-check fails immediately when opening a yaml document, which is not a playbook (eg. missing the mandatory options such as `hosts` and `tasks`.
My playbook imports several other files via `include_tasks` directiv

[2021-12-20 13:58] priyamsahoo commented on #171
Hey @michalmiddleton, could you mention a few steps so that we can reproduce the error ? Or maybe, mention a sample directory structure for the same ?

[2021-12-20 13:59] webknjaz commented on #171
Note from an offline discussion: this may be related to calling `ansible-lint` with the document path which is assumed by the lint to be a playbook at https://github.com/ansible/ansible-language-server/blob/3c370a1/src/services/ansibleLint.ts#L113.

[2022-01-24 15:57] maddanio opened #188 "allow standalone usage"
### Problem

I would like to use this lsp in sublime. I think I would really only need to be able to start it standalone, then sublimes lsp package could connect to it. But I cant find out how to just start this server.

### Solution

provide a way to start this server "standalone", i.e. not as part of some other extentsion, but on its own, on some ansible project, so sublimes lsp plugin (or that

[2022-01-24 20:05] mtoohey31 commented on #188
I believe this is already supported. I use this server with neovim via nvim-lspconfig, the configuration necessary for that can be found [here](https://github.com/neovim/nvim-lspconfig/blob/master/lua/lspconfig/server_configurations/ansiblels.lua).

[2022-01-25 08:29] maddanio commented on #188
And how do you get the ansible lsp built? Couldn't find instructions for that

[2022-01-25 14:31] mtoohey31 commented on #188
As the docs section of the page I linked mentions:

`ansible-language-server` can be installed via `npm`:
[code]

If you want to build it from source, checking the scripts in the package.json is a good place to start, I haven't done it though, so you might have to ask someone more involved in the project.

[2022-01-25 16:17] maddanio commented on #188
ah, there, at the bottom of it :). yes, ok. Guess I will leave this open though as I don't find it easy to find this out at all.
thanks for the pointer!

[2022-01-25 17:01] mtoohey31 commented on #188
Happy to help, and you’re right, documentation about standalone usage should probably be included somewhere in this repo. Do you want to change the title to something like “Include Standalone Usage Documentation”?

[2022-01-27 04:20] ganeshrn opened #192 "A utility to update settings automatically in readme file"
### Problem

Currently the settings supported by language server are manually updated in the README and there are chances that any new settings added will get out of sync in the readme file

### Solution

Based on comment https://github.com/ansible/ansible-language-server/pull/189#issuecomment-1022129802 add a utility to generate setting in README section by parsing the values from within code as

[2022-01-29 15:57] ssbarnea opened #197 "Enable testing under WSL2 on GHA"
We need to run ASL testing under WSL (preferably WSL2) on github actions. Please keep in mind that this is not the same thing as running tests under Windows.

While WSL is reporting itself as Linux, we can find a lot of value in running in this specific environment and there are some factors that could cause different behaviors than on a pure-Linux environment and we do want to be able to catch th

[2022-02-03 13:29] webknjaz commented on #192
How about just pointing at Sphinx docs that would always have up-to-date info w/o having to commit these changes to the readme.

[2022-02-06 17:24] jemag opened #218 "syntax-check error returns invalid character value"
### Summary

- Use ansible-language-server on a non-valid yaml file
- ansible-language-server returns invalid character value:
[code]
This causes problems as the value is clearly outside the range of any reasonable file.

For full reproducible steps, see: https://github.com/neovim/neovim/issues/17315 (I erroneously reported this as a Neovim bug, but I was then made aware of the improper server res

[2022-02-08 14:33] ssbarnea opened #223 "Investigate moving release logic out for .github/workflows/ci.yaml"
As the size of Investigate moving release logic out for https://github.com/ansible/ansible-language-server/blob/main/.github/workflows/ci.yml exploded due to the inclusion of complex release logic code, we should move it out to a separated `release.yml` pipeline.

Currently the size of this repo main pipeline is [~1000 lines](https://github.com/ansible/ansible-language-server/blob/main/.github/wor

[2022-02-24 11:06] priyamsahoo opened #232 "Search for ansible config file fails return an exception for 'INVALID_URL'"
I discovered this bug while writing the test for `doValidation`.

While performing validation using ansible-lint, the code searches for `.ansible-lint` config file but rather than returning the existence of the file in true or false, it fails with an exception of 'INVALID_URL'.

On debugging, I found that the problem was caused by the `fileExists()` in `misc.ts` (https://github.com/ansible/ansible

[2022-03-02 05:12] #232 closed

[2022-03-03 21:39] joshzcold commented on #218
+1 for getting this fixed. causes errors on neovim-lsp

[2022-03-04 18:03] joshzcold commented on #218
Looks like the passing of `Number.MAX_SAFE_INTEGER` into type `Range` causes a int -> string conversion
`9007199254740991` => `9.007199254741e+15`
https://github.com/ansible/ansible-language-server/blob/25c500a9e2d966f314ceb97fbba49cb8311782a5/src/services/ansibleLint.ts#L196-L203

[2022-03-04 18:13] joshzcold commented on #218
This pull request seems to solve the issue for me:
https://github.com/ansible/ansible-language-server/pull/246

https://user-images.githubusercontent.com/36175703/156818887-413c17ed-51f3-4eed-9178-1fb6ee1940c3.mp4

[2022-03-08 04:41] priyamsahoo opened #253 "Error in CI from vscode job during pull request"
The `test:ui job under vscode` fails stating linking errors during pull requests.
The error states:
[code]

[2022-03-08 12:48] priyamsahoo commented on #253
Fixed in https://github.com/ansible/ansible-language-server/pull/254

[2022-03-08 12:48] #253 closed

[2022-03-14 06:32] priyamsahoo commented on #218
@jemag , there is nothing wrong with the server's response and just to confirm, server sends that number figure as an appropriate type (Number) that is safe to handle.
The error is because of how the neovim ansible extension (client) is dealing with the response.

In the case of vscode ansible extension, it works absolutely fine, even if the server sends some very large number ( like 10^308) that

[2022-03-14 07:58] #218 closed

[2022-03-30 13:13] ganeshrn commented on #171
Closing this issue due to lack of response.

[2022-03-30 13:13] #171 closed

[2022-03-30 13:15] ganeshrn commented on #188
@mtoohey31 @maddanio PR on document update is welcomed.

[2022-03-30 13:21] ganeshrn commented on #162
Currently the keywords are hardcoded in file https://github.com/ansible/ansible-language-server/blob/main/src/utils/ansible.ts
To fix this we will have to run `ansible-doc -l -t keyword` command to generate ansible keywords. This feature was added in recent release of ansible-core.

[2022-04-04 13:52] ganeshrn opened #290 "vscode extension fails with error cannot find package 'globby' with latest version"
### Summary

The v0.5.4 of ansible-language-server fails with error
[code]
when used in the vscode-ansible extension.

Most likely the issue is caused by https://github.com/ansible/ansible-language-server/commit/4861a9ae434c74877583056d5c8cf6e20f0995c5

### Extension version

v0.5.4

### VS Code version

1.63.2

### Ansible Version

[code]

### OS / Environment

mac os

### Relevant log output

_N

[2022-04-11 17:08] #290 closed

[2022-04-12 03:06] ganeshrn commented on #192
Fixed by https://github.com/ansible/ansible-language-server/pull/294

[2022-04-12 03:06] #192 closed

[2022-04-12 12:32] ssbarnea commented on #9
Closing because we do have a process for it.

[2022-04-14 14:10] ssbarnea opened #310 "Either upgrade npm yaml to 2.0 or switch to js-yaml"
Few days ago [yaml v2.0](https://github.com/eemeli/yaml/releases/tag/v2.0.0) was released and that had lots of breaking changes and apparently it did not include a clear migration strategy.

* https://github.com/nodeca/js-yaml - 10yr old, 5.5k stars
* https://github.com/eemeli/yaml - 4yr old, 0.5k stars

[2022-04-18 07:08] ssbarnea commented on #310
I asked @tomaciazek why he picked it originally:

I guess that would explain the reasons. Now the tricky bit would be get the code upgraded to v2. I started the branch https://github.com/ansible/ansible-language-server/tree/fix/yaml-2.0 but sadly I will not be able to work on it any time soon due having urgent linter work, PTO next week. The fact that I do not know that bit of code makes it even h

[2022-05-10 14:28] ganeshrn commented on #127
Related to https://github.com/ansible/ansible-language-server/issues/127

[2022-05-18 17:33] fredericgiquel opened #329 "Auto-completion for modules does not work in some situations"
### Summary

Auto-completion for modules does not work when the documentation popup is not displayed.

It happens when there is no documentation for the module. Example with `ansible.builtin.foreman`:

https://user-images.githubusercontent.com/17704127/169102981-a38582d4-d53e-41ab-9869-faae96cef9e5.mp4

Or when using the mouse to select the module:

https://user-images.githubusercontent.com/177041

[2022-05-26 19:22] #329 closed

[2022-05-26 19:59] fredericgiquel opened #341 "User settings to filter redirect modules in auto-completion"
### Problem

Presently, we have more than 1000 candidates for modules completion. More than 4000 are redirect modules and as far as I understand, they are not really useful when you write new playbooks.

Furthermore, although having a lower priority, redirect modules sometimes appear at the top of the list displayed to the user (depending on the sorting done by the client from the search string).

[2022-05-26 20:08] fredericgiquel commented on #341
If you're OK with the idea, I can write the solution. I just to know if the new setting must in the generic `ansible` category (near `useFullyQualifiedCollectionNames`) or elsewhere.

[2022-06-18 10:22] #151 closed

[2022-06-18 10:24] #223 closed

[2022-06-18 10:25] ssbarnea commented on #160
Duplicate of #159

[2022-06-18 10:25] #160 closed

[2022-06-19 09:39] #341 closed

[2022-06-29 12:30] ssbarnea opened #388 "wsl: Expose failure to to load ansible.cfg due to permissions"
### Summary

Due to https://github.com/ansible/ansible/issues/42388 ansible will almost silently refuse to load the the config file if it is world-writable.

As on NTFS mounts and including the implicit mount happening on WSL, these files are worlf-writable, so ansible refuses to load the config and displays a warning.

### Extension version

-

### VS Code version

-

### Ansible Version

[code]

[2022-06-30 17:17] #127 closed, assigned to priyamsahoo

[2022-06-30 21:15] PriceHiller opened #391 "Ansiblels Does Not Provide Completions"
### Summary

When using the latest version of `Ansiblels` I no longer get completions. After tracking it down, I no longer get completions after this commit: c695ba2b65630f246afe934a7acb7f6e97d2997b. Using the commit just prior (9211f4abd46988b6539d0357c4f2f3809450bb39), I am getting completions.

A gif of this in action:
![ansible-ls-failure](https://user-images.githubusercontent.com/58627896/176

[2022-06-30 21:28] treatybreaker commented on #391
Seems to be only related to `ansible.completion.provideRedirectModules`, when I disable that in my configuration for the lsp I get completions.

[2022-07-12 16:54] yaegassy commented on #391
If the language server side is to be adjusted, I feel it would be a good idea to add handling for cases where settings are not passed from the LSP client.

I don't know how to read Neovim's LSP log correctly, but it seems to be `undefined`, so.

[2022-07-13 09:46] #391 closed, assigned to priyamsahoo

[2022-08-02 11:08] ssbarnea opened #412 "Refactor isPlaybook into guessAnsibleFileType"
Related: https://github.com/ansible/vscode-ansible/issues/553

[2022-08-05 19:41] cloin commented on #128
Examples would be cool too

[2022-08-12 11:45] fischerling opened #418 "ansible-language-server does not respect DidChangeWatchedFilesClientCapabilities"
### Summary

I am the author and user of a [LSP client]() for the [vis editor]().
Recently I am writing more and more ansible code and wanted to try integrating ansible-language-server in my workflow.

`vis-lspc` is realy simple and does not support workspaces or `client/registerCapability` requests.

LSP states that any dynamicRegistration capability is opt-in by the client.
Furthermore, I even e

[2022-08-23 16:39] ssbarnea commented on #197
Just adding another nail in wsl https://github.com/yarnpkg/yarn/issues/8059

[2022-08-23 20:12] ssbarnea commented on #15
I this is already implemented now, that i how we send info about enviorment.

[2022-08-23 20:12] #15 closed

[2022-08-26 18:34] lukasjuhrich opened #427 "Include modules under `library/` in documentation"
### Problem

Not clear whether bug or feature request.

## Repro
- Create a module in `library/my_module.py`
- Create a playbook `playbook.yml` using this module in a task
- Hover over the module name

### expectation
- The docs should appear.

### reality
- The docs do not appear.

## Notes
I think this should be supported because the entrypoint in the ansible documentation, [„Creating a module“]

[2022-09-01 03:29] priyamsahoo opened #428 "Replace "python" with "python3" while executing commands"
Currently, while gathering ansible metadata, `python --version` is executed which fails in a lot of systems. This is to be replaced with `python3 --version` command.

Related: https://github.com/ansible/vscode-ansible/issues/607

[2022-09-01 03:29] priyamsahoo opened #429 "Replace "python" with "python3" while executing commands"
Currently, while gathering ansible metadata, `python --version` is executed which fails in a lot of systems. This is to be replaced with `python3 --version` command.

Related: https://github.com/ansible/vscode-ansible/issues/607

[2022-09-01 03:30] #429 closed

[2022-09-01 03:30] priyamsahoo commented on #429
Duplicate of #428

[2022-09-05 12:21] twouters opened #437 "Noisy error message when creating a new file with vim (nvim.coc + coc-ansible)"
Could be that this has to be fixed in Ansible languageserver but since it's a behavioral change since v6.5.0 I figured I report this here.

When opening an non-existing ansible file with vim, ansible-lint is triggered on the filename (should probably be the buffer contents instead of the filename but that's not up to ansible-lint at all) and ansible-lint spews a noisy exception.

See https://githu

[2022-09-05 12:45] twouters opened #431 "Noisy error message when creating a new file with vim (nvim.coc + coc-ansible)"
### Summary

(Lazy copy+paste from ansible-lint since it's the third issue report about this :slightly_smiling_face: )

When opening an non-existing ansible file with vim, ansible-lint is triggered on the filename (should probably be the buffer contents instead of the filename but that's not up to ansible-lint at all) and ansible-lint spews a noisy exception.

See yaegassy/coc-ansible#26 for more

[2022-09-10 15:44] kjoyce77 opened #434 "Autocomplete Does Not Work With community.general >= 5.0.0"
### Summary

TLDR: When I use community.general 4.8.6 syntax autocomplete works, when I used 5.5.0 it does not.

To elaborate...

With 5.5.0 I do get a prompt that says to use 'community.general.system.sudoers' for example.  But when I do that I still don't get autocomplete and the help popups.

I looked at the repos and it appears 5.0.0 removed all the symbolic links in the plugins/modules direct

[2022-09-15 21:39] #428 closed

[2022-09-22 07:27] medanthelinium opened #439 "Warnings are displayed as errors"
### Summary

Both VSCode and Neovim (via [yaegassy/coc-ansible](https://github.com/yaegassy/coc-ansible)) display items that are listed under `warn_list` in a project's `ansible-lint` as errors, marking them red.

The `ansible-lint` itself is getting parsed by the plugin, because when the aforementioned items are moved from `warn_list` to `skip_list`, they aren't highlighted by ansible-language-se

[2022-09-22 12:37] #162 closed

[2022-09-22 20:08] jovmarkovic opened #443 "Language server crashing - python command not found"
### Summary

Here is the important part  from the crash:
[code]
Either because of my version, but it is called python3 on my end:
[code]

### Extension version

v0.14.71

### VS Code version

Version: 1.71.2 (Universal) Commit: 74b1f979648cc44d385a2286793c226e611f59e7 Date: 2022-09-14T21:05:37.721Z Electron: 19.0.12 Chromium: 102.0.5005.167 Node.js: 16.14.2 V8: 10.2.154.15-electron.0 OS: Darwin ar

[2022-09-24 12:53] dbrennand commented on #443
Hi,

I'm also experiencing this issue with the language server crashing on WSL Ubuntu 20.04:

[code]

![image](https://user-images.githubusercontent.com/52419383/192098913-06a524c0-8e0a-474e-93ff-4147ec0c78f6.png)

[code]

I think this is related to #430?

### Extension version

[code]

### Ansible & Ansible-Lint Version

[code]

[2022-09-26 18:11] #443 closed

[2022-10-03 16:22] ssbarnea commented on #434
@priyamsahoo I got some feedback from @bcoca and basically that would be logic:

Basically symlinks and aliases from `meta/runtime.yml` can be considered as compatibility aliases. The recommended / normalized values should be the target/resolved/longer longer names, as these would also be faster. When migrations happen and code will be moved, but not without using either symlinks or aliases, makin

[2022-10-07 02:18] ganeshrn commented on #439
@yaegassy Can you please take a look at this issue?

[2022-10-07 05:34] yaegassy commented on #439
@ganeshrn  I checked with ALS 1.0.0. The problem seems to be ongoing.

After debugging the code, albeit briefly, there may be a bug in the detection of the `.ansible-lint` configuration file.

Therefore, it seems that the "severity" of diagnostics is not set to `warning`.

- https://github.com/ansible/ansible-language-server/blob/main/src/services/ansibleLint.ts#L200-L218

Maybe this area of "doVa

[2022-10-07 05:37] yaegassy commented on #439
I'll post the original issue link.

- https://github.com/yaegassy/coc-ansible/issues/27

[2022-10-07 06:42] yaegassy commented on #431
Here is a supplemental explanation of this issue.

In Vim/Neovim, when you add a new file, you first create what is called a buffer. Only when you save the buffer is the actual file created.

This results in a situation where ansible-lint is executed on a file that does not actually exist, resulting in an error.

[2022-10-07 08:00] twouters commented on #437
Dupe of #431 because I reported it here before the issue got transferred

[2022-10-07 08:00] #437 closed

[2022-10-11 11:37] felixfontein commented on #434
@kjoyce77 please note that you should **NOT** use `community.general.system.sudoers`. Use `community.general.sudoers`. The long name is wrong and can likely stop working eventually without any warning.

[2022-10-12 00:37] kjoyce77 commented on #434
OK, thank you, but that does not address the issue.  To make things clearer here a screenshots of what community.general 4.8.7 autocompletes look like vs. 5.7.0.  I only mentioned the longer name because the mouseover told me to use the longer name when I use 5.7.0.
![community general 4 8 7](https://user-images.githubusercontent.com/22777125/195222777-08049b7c-1a96-4708-b305-5adf51c6eaf0.png)
![c

[2022-10-12 04:08] felixfontein commented on #434
@kjoyce77 that's a bug in the VScode extension / language server which hopefully will get eventually fixed. See https://github.com/ansible/vscode-ansible/issues/573.

[2022-10-12 15:12] #434 closed

[2022-10-13 03:36] yaegassy opened #468 "No "code" section in diagnostics in ALS 1.0.1 published in npm"
### Summary

ALS v1.0.1 published in npm, but there seems to be a difference from what is committed in the `main` branch.

- "code" section does not exist in diagnostics
- "codeDescription" of the diagnostics is always empty

I'll put up the trace log.

---

As a side note, the ALS bundled with `vscode-ansible` seems to be fine.

### [NG] v1.0.1 published in npm

[code]

### [OK] main branch: edcb

[2022-10-13 04:51] yaegassy commented on #468
Ah, sorry, There was a problem with the environment I checked, the version of ansible and ansible-lint was actually old.

This issue is closed.

[2022-10-13 04:51] #468 closed

[2022-10-14 00:43] yaegassy commented on #468
**MEMO**:

This issue is related to the version of `ansible-lint`. The problem does not occur if you use `ansible-lint` "v6.8.1" or later. `-f codeclimate` results related.

[code]

[2022-10-14 04:42] priyamsahoo opened #469 "Replace empty strings with undefined in default values of configuration settings"
The idea is to replace all the empty strings with undefined values in the extension settings. The setting should be undefined if the user is not assigning any value to it.
Related: https://github.com/ansible/vscode-ansible/issues/661

[2022-10-19 10:04] nbruniaux opened #472 "Autocompletion doesn't work when ExecutionEnvironment is enabled"
### Summary

Autocompletion doesn't work when EE is enabled
[code]

ansible-lint works fine.

### Extension version

1.0.93

### VS Code version

1.72.2

### Ansible Version

[code]

### OS / Environment

Red Hat Enterprise Linux release 8.6 (Ootpa)

### Relevant log output

[code]

[2022-10-24 01:53] piengeng opened #473 "onSemanticTokens e.startsWith is not a function error from vscode 'ansible server' output"
[code]

[2022-10-25 19:09] ssbarnea commented on #473
@priyamsahoo @ajinkyau Any ideas?

[2022-10-27 17:46] priyamsahoo commented on #473
@piengeng, could you please confirm if ansible is installed in the environment or not?

[2022-10-28 00:07] piengeng commented on #473
Ansible was installed with apt on ubuntu jammy, so, not environment.
I'll close this as it's an edge & weird case, Terribly sorry to waste people time on this, as I'm not seeing this anymore, when it happened last time vscode was behaving strangely as well. Thanks for following up.

[2022-10-28 00:07] #473 closed

[2022-11-04 00:49] yaegassy commented on #439
I have built and tested the ALS for this commit. I believe this issue has been resolved in my environment.

- <https://github.com/ansible/ansible-language-server/pull/474>
- <https://github.com/ansible/ansible-language-server/pull/478>

[2022-11-20 03:59] ptoal commented on #472
I am also experiencing this.  Extension v.1.0.90 - 1.0.98

Reverting to v0.14.71 allows me to get autocomplete, flyover docs, etc.

Also of interesting note... Downgrading to 0.14.71, and then upgrading back to 1.0.90, results in this working again.  I'm guessing that 0.14.71 is populating the cache.

[2022-11-28 03:49] priyamsahoo commented on #472
@nbruniaux, could you please try out what @ptoal suggested? Please let us know if the problem still exists.

[2022-11-28 03:50] priyamsahoo commented on #439
Thanks for the update!

[2022-11-28 03:50] #439 closed

[2022-11-28 03:52] priyamsahoo commented on #431
@twouters, @yaegassy, could you please check if the error still exists? If not, feel free to close it.

[2022-11-28 04:06] yaegassy commented on #431
@priyamsahoo This problem seems to be resolved by upgrading `ansible-lint`.

[2022-11-28 07:38] nbruniaux commented on #472
Hello,

I couldn't test @ptoal's suggestion but autocompletion is now partially working for me.

selinux was in enforcing mode, I switched it to permissive mode and restarted vscode... autocompletion started working!
Also, when I switched back to selinux enforcing, it still works.

I still have a problem with adjacent collections, autocomplete doesn't work for them but it seems that an issue is al

[2022-11-28 18:48] ptoal commented on #472
I did a bit more digging on this.  I don't think it's specific to a version, after all.  I may have been changing multiple things at the same time, during troubleshooting.

Taking a bit more of a methodical approach:

1. Reset settings to default.  Specify my custom EE, and turn tracing to verbose
2. Execute `podman rmi -a` to remove all local images.
3. `rm -rf ~/.cache/ansible-language-server`
4